.box
{width: 290px;
 height: 226px;
 margin: 8px;
 border: 1px solid black;
 border-radius: 10px;
 padding:8px;
 position: relative;
 display: flex;
 flex-direction: column;
 min-width: 0;
 text-align: left;

}
.box2{   
    padding:20px;
}
.title{
    margin-bottom: 10px;
}
.text{
    margin-bottom: 10px;
}
.det{
    color: blue;
    cursor: pointer;
}

