<div class="container">
    <div class="col" >
        <ol class="list-group">
            <li  class="list-group-item  ">
                <a  class="reg"  (click)="selectreg('Africa')" >Africa</a>
            </li>
            <li  class="list-group-item  ">
                <a class="reg" (click)="selectreg('America')" >America</a>
            </li>
            <li  class="list-group-item ">
                <a class="reg"  (click)="selectreg('Asia')" >Asia</a>
            </li>
            <li  class="list-group-item ">
                <a class="reg"  (click)="selectreg('Europe')" >Europe</a>
            </li>
            <li  class="list-group-item ">
                <a class="reg"  (click)="selectreg('Oceania')" >Oceania</a>
            </li>
            </ol>
    </div>
</div>